[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]



[packages]

django = "*"
factory-boy = "*"
gunicorn = "*"
django-timezone-field = "*"
djangorestframework = "*"
django-cors-headers = "*"
numpy = "*"
